.basketZero {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(64, 81, 103, 0.4);
    width: 100%;
    height: 100vh;
    z-index: 10;
    justify-content: center; 
    align-items: center;  
}

.basketZero__block {
    max-width: 400px;
    width: 100%;
    padding: 40px 0;
    text-align: center;
    background-color: #eee;
    border-radius: 4%;
    position: relative;
    font-family: 'Nunito';
    color: #415167;
}

.baskerZero__btn {
    font-size: 20px;
    padding: 15px 20px;
    background-color: #c7a17a;
    border-radius: 10px;
    margin-top: 5%;
    font-family: 'Montserrat';
    color: #fff;
}

.basketZero__exit {
    position: absolute;
    top: 20px;
    right: 20px;

}

.baskerZero__icon {
    margin-bottom: 5%;
}

@media screen and (max-width:450) {
    
}