.coffe, .choose, .giftset, .combo {
    padding-inline: 30px;
} 

.coffe {
  text-align: center;
  padding-bottom: 128px;
}

.card__image {
  width: 80px;
}

.card_container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 72px;
  flex-wrap: wrap;
  gap: clamp(30px, 3vw, 50px);
}

.section__subtitle {
  font-family: Montserrat;
  color: #415167;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 8px;
}

.section__title {
  font-family: Montserrat;
  color: #415167;
  font-weight: 900;
  font-size: 30px;
  line-height: 1.13;
}

.card {
  text-align: center;
  max-width: 226px;
}

.card__image {
  padding-bottom: 41px;
}

.card .card__title {
  padding-bottom: 12px;
}

.card__text {
  font-family: Nunito;
  font-size: 14px;
  line-height: 1.375;
  padding-bottom: 10px;
}

.choose {
  background: linear-gradient(90deg, #415167 30%, #f9fbff 30%);
  text-align: center;
  padding-bottom: 128px;

  .section__title {
    padding-bottom: 72px;
  }
}

.section__subtitle {
  font-family: Montserrat;
  color: #415167;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  padding-block: 85px 8px;
}

.section__title {
  font-family: Montserrat;
  color: #415167;
  font-weight: 900;
  font-size: 30px;
  line-height: 1.13;
}

.giftset {
  padding-bottom: 125px;
  text-align: center;
  background: linear-gradient(90deg, #edf0f5 65%, #f9fbff 65%);
}


.combo {
  background: linear-gradient(90deg, #fff 65%, #415167 65%);
  padding-bottom: 128px;
}

.combo .section__title {
  margin-bottom: 64px;
}

.combo .container {
  text-align: center;
  position: relative;
}




/* Скрываем секции по умолчанию OBSERVER */
section {
  opacity: 0;
  transform: translateY(70px);
  transition: opacity 1s ease-out, transform 0.8s ease-out;
}

/* Класс, который добавится через JS */
section.visible {
  opacity: 1;
  transform: translateY(0);
}



@media screen and (min-width: 768px) and (max-width: 1024px) {
  .giftset {
    background: linear-gradient(90deg, #edf0f5 75%, #f9fbff 75%);
  }

  .combo {
    background: linear-gradient(90deg, #fff 75%, #415167 75%);
  }

  .overlay {
    width: 17%;
  }

  .coffe,
  .choose,
  .giftset,
  .combo {
    padding-inline: 3rem;
  }
}


  @media screen and (min-width: 320px) and (max-width: 768px) {
  
  .choose,
  .combo {
    background-image: none;
  }
  
  .slick__list {
    margin-left: 0;
  }
} 

@media screen and (min-width: 320px) and (max-width: 575px) {
  .choose,
  .combo {
    background-image: none;
    padding-inline: 20px;
    background-color: rgb(249, 251, 255);
  }
  .giftset,
  .coffe {
    padding-inline: 20px;
  }

  .slick__list .b-next {
    right: 0;
  }

  .slick__list-combo .b-next {
    top: 48%;
    right: 3%;
  }

  .swiper__combo {
    padding: 0px;
  }  

}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .choose {
    background-image: none;
    padding-inline: 30px;
  }

  .giftset, .coffe, .combo {
    padding-inline: 30px;
  }

}
