.nav__content {
  color: #f9fbff;
  width: max(150px, 100%);
}

.nav__title {
  font-weight: 700;
  margin-bottom: 3rem;
  line-height: 1.375;
}

.nav__item {
  margin-bottom: 3rem;
  line-height: 1.5;
  position: relative;
}

.nav__item-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 26px;
  width: 0;
  height: 2px;
  background-color: #c7a17a;
  transition: width 0.5s ease-in-out;
}

.nav__item-link:hover::after {
  width: 95%;
}

.nav__item-link:focus-visible {
  outline: none; /* Опционально: убрать стандартный контур фокуса */
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .nav__item {
    font-size: 16px;
  }
}
